*
{
    padding: 0px;
    margin: 0px;
}


header
{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg ,rgb(46, 46, 151),rgb(103, 103, 243));

    .hed_div_0
    {
        padding: 20px;
        display: flex;
        i
        {
            color: orange;
            size: 40px;
            padding-right: 10px;
            padding-top: 12px;
        }
        h1
        {
            background: linear-gradient(90deg, #ffffff, #e2a41d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .hed_div_1
    {
        display: flex;
        gap: 20px;
        padding: 20px;
        color: white;
        i
        {
            color: rgb(255, 192, 56);
            size: 40px;
            padding-top: 10px;
        }
        .div_h
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .div_h_
        {
            text-align: center;
            background: linear-gradient(100deg, rgb(204, 151, 53), rgb(255, 201, 101));
            width: 40px;
            height: 40px;
            border-radius: 15px;
            h2
            {
                color: black;
                margin-top: 6px;
            }
        }
    }
}




main
{
    .main_div_0
    {
        padding:27px;
        display: flex;
        justify-content: space-between;

        .main_div_0_0
        {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            h1
            {
                color: rgb(33, 33, 61);
            }
            p
            {
                color: #aaaaaa;
                padding-left: 5px;
            }
        }

        .main_div_0_1
        {
            margin-right: 30px;
            border: none;
            align-content: center;
            height: 40px;
            border-radius: 11px;
            padding-left: 15px;
            padding-right: 15px;
            box-shadow: 0px 0px 40px rgb(209, 209, 209);
            color: #aaaaaa;
            input
            {
                border: none;
                padding-left: 10px;
                padding-right: 30px;
                height: 100%;
            }
        }
    }

/* ================================================================================================== */

    .main_div_1
    {
        padding: 30px;
        display: flex;
        justify-content: space-between;

    /* ================================================================================================== */

        .main_div_1_0
        {
            display: flex;
            align-items: center;
            width: 300px;
            height: 130px;
            border-radius: 20px;
            gap: 30px;
            padding-left: 70px;
            padding-right: 70px;
            box-shadow: 0px 0px 30px rgb(207, 207, 207);
            border-top: 6px solid black;

            .main_div_1_0_0
            {
                background: linear-gradient(100deg , rgb(10, 139, 10), rgb(101, 238, 101)) ;
                width: 50px;
                height: 50px;
                align-items: center;
                color: #ffffff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
            }

            .main_div_1_0_1
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                p
                {
                    color: #aaaaaa;
                }
                .p_1
                {
                    color: rgb(71, 212, 58);
                }
            }
        }

    /* ================================================================================================== */

        .main_div_1_1
        {
            display: flex;
            align-items: center;
            width: 300px;
            height: 130px;
            border-radius: 20px;
            gap: 30px;
            padding-left: 70px;
            padding-right: 70px;
            box-shadow: 0px 0px 30px rgb(207, 207, 207);
            border-top: 6px solid black;

            .main_div_1_1_0
            {
                background: linear-gradient(100deg , rgb(172, 102, 12), rgb(252, 218, 107)) ;
                width: 50px;
                height: 50px;
                align-items: center;
                color: #ffffff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
            }

            .main_div_1_1_1
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                p
                {
                    color: #aaaaaa;
                }
                .p_1
                {
                    color: rgb(71, 212, 58);
                }
            }
        }

    /* ================================================================================================== */

        .main_div_1_2
        {
            display: flex;
            align-items: center;
            width: 300px;
            height: 130px;
            border-radius: 20px;
            gap: 30px;
            padding-left: 70px;
            padding-right: 70px;
            box-shadow: 0px 0px 30px rgb(207, 207, 207);
            border-top: 6px solid black;

            .main_div_1_2_0
            {
                background: linear-gradient(100deg , rgb(11, 95, 151), rgb(93, 209, 238)) ;
                width: 50px;
                height: 50px;
                align-items: center;
                color: #ffffff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
            }

            .main_div_1_2_1
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                p
                {
                    color: #aaaaaa;
                }
                .p_1
                {
                    color: rgb(212, 58, 58);
                }
            }
        }

    /* ================================================================================================== */

        .main_div_1_3
        {
            display: flex;
            align-items: center;
            width: 300px;
            height: 130px;
            border-radius: 20px;
            gap: 30px;
            padding-left: 70px;
            padding-right: 70px;
            box-shadow: 0px 0px 30px rgb(207, 207, 207);
            border-top: 6px solid black;

            .main_div_1_3_0
            {
                background: linear-gradient(100deg , rgb(74, 11, 156), rgb(147, 40, 173)) ;
                width: 50px;
                height: 50px;
                align-items: center;
                color: #ffffff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
            }

            .main_div_1_3_1
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                p
                {
                    color: #aaaaaa;
                }
                .p_1
                {
                    color: rgb(71, 212, 58);
                }
            }
        }
    }





/* ================================================================================================== */



    .main_div_2
    {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .div_2_0
        {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 250px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 0px 0px 30px rgb(179, 179, 179);
            width: 850px;
            justify-content: space-between;
            align-items: center;
            height: 200px;
            .div_2_0_0
            {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                select
                {
                    padding: 5px;
                    border-radius: 10px;
                    border: rgb(167, 167, 167) solid 1px;
                }
            }
        }

        .div_2_1
        {
            padding: 30px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 0px 0px 30px rgb(179, 179, 179);
            width: 850px;
            justify-content: space-between;
            align-items: center;
            .div_2_1_0
            {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                select
                {
                    padding: 5px;
                    border-radius: 10px;
                    border: rgb(167, 167, 167) solid 1px;
                }
            }

            table
                {
                    width: 800px;
                    height: 200px;
                    border-collapse: collapse;
                    text-align: left;
                    th
                    {
                        border-collapse: collapse;
                        color: #aaaaaa;
                        border-bottom: solid 1px rgb(156, 156, 156);
                        margin-bottom: 20px;
                    }
                    td
                    {
                        border-collapse: collapse;
                        border-bottom: solid 1px rgb(156, 156, 156);
                    }
                }

                button
                {
                    border: none;
                    width: 200px;
                    height: 50px;
                    background-color: white;
                    font-size: 17px;
                    color: rgb(56, 130, 226);
                }
        }
    }
}

footer
{
    padding: 20px;
    color: #ffffff;
    background-color: #160b47;
    height: 20px;
    display: flex;
    justify-content: space-between;
    ul
    {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 500px;
    }
}